{% extends 'base.html.twig' %}

{% block title %}Créer son compte - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <section class="row">
            <h1 class="text-center mb-3">Inscription</h1>
            <div class="col-6 shadow mx-auto text-center p-5">
                {{ include('account/form/_registration.html.twig', {form: form}) }}
            </div>
        </section>
    </div>
{% endblock %}
