{% extends 'base.html.twig' %}

{% block title %}Réinitialiser son mot de passe - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <section class="row">
            <h1 class="text-center mb-3">Réinitialiser son mot de passe</h1>
            <div class="col-6 shadow mx-auto text-center p-5">
                {{ component('reset_password', {form: form}) }}
            </div>
        </section>
    </div>
{% endblock %}
