{% extends 'email.html.twig' %}

{% block content %}
    <h1>Réinitialisation de votre mot de passe Snowtricks</h1>
    <p>
        Bonjour {{ resetPasswordRequest.user.username|sanitize_html }}, pour réinitialiser votre mot de passe, merci de cliquer sur le lien
        suivant :
        <a
                href="{{ url('security_reset_password', {token: resetPasswordRequest.token}) }}"
                title="Réinitialiser son mot de passe">
            {{ url('security_reset_password', {token: resetPasswordRequest.token}) }}
        </a>
    </p>
    <p style="font-style: italic; opacity: 0.8">
        Si cette demande n'est pas la votre, veuillez simplement ignorer ce message.
    </p>
{% endblock %}
