{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div
                {{ stimulus_controller('flash_message') }}
                data-action="DOMContentLoaded@document->flash-message#fireAlert"
                data-flash-message-type-param="{{ type }}"
                data-flash-message-message-param="{{ message }}"
        >
        </div>
    {% endfor %}
{% endfor %}
