{% extends 'base.html.twig' %}

{% block body %}
    <section {{ stimulus_controller('form-tricks') }}
            aria-labelledby="page-title" class="page position-relative">

        <img {{ stimulus_target('form-tricks', 'cover') }}
                src="https://via.placeholder.com/1920x700"
                class="page__background" alt="Image d'illustration">

        <div class="container position-absolute page__content">
            {{ include('tricks/form/_form.html.twig', {action: 'create'}) }}
        </div>
    </section>
{% endblock %}
